include LICENSE
include README.md
prune **/.git
prune **/.git
prune **/.github
prune **/.vscode
prune **/.pytest_cache
prune **/__pycache__
prune **/build
prune **/dist
prune **/openswmmcore.egg-info
prune **/venvopenswmmcore
prune **/venvtest
prune **/output_build
prune **/_skbuild
prune **/wheelhouse
recursive-include openswmmcore *.py
recursive-include tests *.py
recursive-include openswmmcore *.txt
recursive-include openswmmcore *.md
recursive-include openswmmcore *.pyi
recursive-include openswmmcore *.pyx
recursive-include openswmmcore *.pxd
recursive-include tests *.inp
recursive-include docs *.*
recursive-include tests *.*
global-exclude *.pyd
global-exclude *.so
global-exclude *.pyc
global-exclude *_drainage_example.out
global-exclude *__pycache__*
global-exclude __pycache__
