# ---- include ----
include LICENSE
include README.md
include CMakeLists.txt
include CMakePresets.json
include setup.py
include pyproject.toml

# Python sources
recursive-include openswmm *.py

# Cython sources
recursive-include openswmm *.pyx
recursive-include openswmm *.pxd

# Type stubs
recursive-include openswmm *.pyi

# Test data
recursive-include tests *.py
recursive-include tests *.inp
recursive-include tests *.out
recursive-include tests *.pickle

# Documentation
recursive-include docs *.*

# ---- exclude ----
prune **/.git
prune **/.github
prune **/.vscode
prune **/.idea
prune **/.pytest_cache
prune **/__pycache__
prune **/build
prune **/dist
prune **/_skbuild
prune **/wheelhouse
prune **/openswmm.egg-info

global-exclude *.pyd
global-exclude *.so
global-exclude *.dylib
global-exclude *.pyc
